<!DOCTYPE html>
<html>
<head>
    <title>View Note</title>
</head>
<body>

    <h1>View Note</h1>

    <h2><%= note.title %></h2>

    <p><%= note.content %></p>

    <a href="/user/home">
        Back
    </a>

</body>
</html>